img{
    width: 100%;
    max-height: 150px;
    height: auto;
    
}
.kotu{
    margin: 5px 0px;
    
}
.icon-bar:hover {
    background-color: rgb(255, 241, 51);
  }
  .card {display:inline-block;}
  .dana{
      float: left;
  }
  .rina{
      float:right;
  }
  .botam{
      align-content: center;
      background-color: rgb(220, 226, 210);
      
       display: block;
  } 
  .zero{
      margin: 0px 50px;
      display: inline;
      font-size: 25px;
     
  }
  
  