<div class="container">
  <div class="row">
    <div class="col-md-12">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active icon-bar">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item icon-bar">
        <a class="nav-link" routerLink="/shopping-cart">Shopping cart</a>
      </li>
      <li class="nav-item icon-bar" *ngIf="!(authser.users$ | async)">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item dropdown icon-bar" *ngIf="authser.users$ | async as user">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.displayName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" routerLink="/my/orders">My Orders</a> -->
          <a class="dropdown-item" *ngIf="!isadmin"  routerLink="/admin/orders">Manage Orders</a>
          <a class="dropdown-item" *ngIf="!isadmin"  routerLink="/admin/products">Manage Products</a>
          <a class="dropdown-item" *ngIf="!isadmin"  (click)=logasuser()>Log as user</a>
          <a class="dropdown-item" *ngIf="isadmin"  (click)=logasadmin()>Log as admin</a>
          <a class="dropdown-item"   (click)=logout()>Log out</a>
        </div>
      </li>
    </ul> 
  </div>
</nav>
</div>
</div>
</div>